$primary-medium: #028090;
$primary-light: #F0F3BD;
$primary-dark: #05668D;
$secondary-medium: #00A896;
$secondary-light: #02C39A;

body {
  background: $primary-dark;
  color: $primary-light;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: $primary-medium;
  border-top: 1px solid $secondary-medium;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid $secondary-medium;
  background-color: $primary-dark;
  color: $primary-light;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
  .system {
    font-style: italic;
  }
}

.message.system {
  padding: 5px 20px;
}


.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  padding-bottom: 1px;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: $primary-medium;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.navbar-counter {
  align-self: flex-end;
  padding-bottom: 6px;
  font-weight: 600;
  font-size: 1.3em;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}